/**Login Page**/
/**Global Stylings**/
@import url("https://fonts.googleapis.com/css?family=Abel|PT+Serif|Playfair+Display");
body {
  background: #dcdcdc;
  font-family: "PT Serif", serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  line-height: 1.5;
}
/**Local Styling**/
#branding {
  padding: 10px;
}
h1 {
  margin: 0;
  font-size: 22px;
  font-family: "Playfair Display", sans-serif;
  display: inline;
}
#login-attendant {
  width: 400px;
  height: 250px;
  margin: auto;
  margin-top: 120px;
  background: #1b4f72;
  color: #fff;
  box-shadow: 0 8px 6px -6px black;
  padding: 10px;
}
h3 {
  text-align: center;
}
.user-entry {
  border: none;
  background: inherit;
  border-bottom: #fff 2px solid;
  color: #fff;
  width: 80%;
  display: block;
}
.user-entry:focus {
  outline: none;
}
.btn {
  text-align: center;
}
.submit-btn {
  border: none;
  display: inline-block;
  text-decoration: none;
  margin-top: 3%;
  padding: 10px 15px;
  border-radius: 10%;
  background: #2471a3;
  color: #fff;
  font-weight: bold;
}
.submit-btn:hover {
  opacity: 0.6;
}
/**Products Page**/
/**Nav Bar**/
.navbar {
  background: rgb(250, 235, 215);
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 60px;
  box-shadow: 0 4px 3px #ccc;
}
ul li {
  list-style-type: none;
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: #000;
  padding: 0 10px;
}
.heading {
  float: left;
  padding: 10px 5px;
}

nav {
  float: right;
}

/**Side Bar**/
.sidebar {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  width: 20%;
  overflow: auto;
  position: fixed;
  height: 50%;
  background: #1b4f72;
}
.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}
.side-link {
  border-bottom: #fff 1px solid;
}
.sidebar a.active {
  background: #808080;
  border-bottom: none;
  color: #fff;
}
.sidebar a:hover:not(.active) {
  background-color: #808080;
  color: #fff;
}
.row {
  padding-top: 10px;
  width: 70%;
  height: 70%;
  float: right;
}
.product {
  width: 20%;
  padding: 5px 10px;
  display: inline-flex;
}
.product-img {
  width: 200px;
  height: 200px;
}
